body {
    flex-direction: column;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1557682250-33bd709cbe85?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

h1 {
    color: #333;
    text-align: center;
    font-size: 2.5rem;
    margin: 0;
}
